.container {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.phonebookTitle {
  margin-bottom: 30px;
}
.titlePart {
  color: #f84119;
}
.contactsTitle {
  margin-bottom: 30px;
}

.empty__notification {
  font-weight: 500;
}
